[Unit]
Description=Cleanup Docker 
After=docker.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/docker system prune --force --all --volumes
CPUAccounting=true
CPUSchedulingPolicy=batch
CPUWeight=12
CPUQuota=50%
IOSchedulingClass=idle
IOSchedulingPriority=7
IOWeight=10
MemoryAccounting=true
Nice=19
StartupCPUWeight=25
StartupIOWeight=25
StartupCPUQuota=100%
