[Unit]
Description=Cleanup Docker 
After=docker.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/docker system prune --force --all --volumes
Nice=19

