[Unit]
Description=Cleanup Home 

[Service]
Type=oneshot
ExecStart=/bin/bash -c "find ~/{.cache,Downloads} -type f -atime +30 -not -path '*/yay/*'" -delete"
CPUAccounting=true
CPUSchedulingPolicy=batch
CPUWeight=12
CPUQuota=50%
IOSchedulingClass=idle
IOSchedulingPriority=7
IOWeight=10
MemoryAccounting=true
Nice=19
StartupCPUWeight=25
StartupIOWeight=25

