[Unit]
Description=Proxy 443 to 4443
Requires=https-proxy.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:4443
PrivateTmp=yes
NoNewPrivileges=yes
