[Unit]
Description=Nix cleanup
After=nix-daemon.socket

[Service]
ExecStart=/usr/bin/nix-collect-garbage
CPUAccounting=true
CPUSchedulingPolicy=batch
CPUWeight=12
CPUQuota=50%
IOSchedulingClass=idle
IOSchedulingPriority=7
IOWeight=10
MemoryAccounting=true
Nice=19
StartupCPUWeight=25
StartupIOWeight=25
StartupCPUQuota=100%


