[Unit]
Description=Nix cleanup
After=nix-daemon.socket

[Service]
ExecStart=/usr/bin/nix-collect-garbage -d
CPUAccounting=true
CPUSchedulingPolicy=batch
CPUWeight=12
CPUQuota=50%
IOSchedulingClass=idle
IOSchedulingPriority=7
IOWeight=10
MemoryAccounting=true
MemoryHigh=4G
Nice=19
StartupCPUWeight=25
StartupIOWeight=25
