[Unit]
Description=Ollama Docker Container
After=docker.socket

[Service]
Restart=always
ExecStart=/usr/bin/ollama serve

[Install]
WantedBy=default.target
