/*
!/.github
!/README.md
!/.gitignore
!/.editorconfig
!/Makefile
!/.alacritty.toml
!/.bashrc
!/.bash_profile
!/.LESS_TERMCAP
!/.tmux.conf
!/.vim-cheatsheet.png
!/.conky.conf
!/.lsd.yml
!/.Xmodmap
!/flake.nix
!/flake.lock

# systemd
!/.config
/.config/*
!/.config/systemd
/.config/systemd/user/*.target.wants
/.config/systemd/user/*.target.d
# environment.d
!/.config/environment.d

# bin
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/home-cleanup
!/.local/bin/home-cleanup-post
!/.local/bin/pacman-clean
!/.local/bin/pacman-report
!/.local/bin/pacman-pacreport
!/.local/bin/pacman-paccache
!/.local/bin/cleanup

# xdg
!/.config/mimeapps.list

# gtk
!/.config/gtk-*
/.config/gtk-*/*
!/.config/gtk-2.0/gtkrc
!/.config/gtk-3.0/settings.ini

# xmonad
!/.config/xmonad
!/.config/taffybar
!/.dmrc

# yay
!/.config/yay
/.config/yay/*
!/.config/yay/config.json
