/*
!/README.md
!/.gitignore
!/.editorconfig
!/Makefile
!/.alacritty.yml
!/.bashrc
!/.LESS_TERMCAP
!/.tmux.conf
!/.vim-cheatsheet.png
!/.conky.conf

# systemd
!/.config
/.config/*
!/.config/systemd
/.config/systemd/user/*.target.wants
# environment.d
!/.config/environment.d

# bin
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/pacman-clean
!/.local/bin/pacman-report
!/.local/bin/pacman-pacreport
!/.local/bin/pacman-paccache
