/*
!/README.md
!/.gitignore
!/.editorconfig
!/Makefile
!/.alacritty.yml
!/.bashrc
!/.LESS_TERMCAP
!/.tmux.conf
!/.vim-cheatsheet.png
!/.conky.conf
!/.lsd.yml
!/.Xmodmap
!/flake.nix
!/flake.lock

# systemd
!/.config
/.config/*
!/.config/systemd
/.config/systemd/user/*.target.wants
/.config/systemd/user/*.target.d
# environment.d
!/.config/environment.d

# bin
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/home-cleanup
!/.local/bin/pacman-clean
!/.local/bin/pacman-report
!/.local/bin/pacman-pacreport
!/.local/bin/pacman-paccache
!/.local/bin/cleanup

# gtk
!/.config/gtk-*
/.config/gtk-*/*
!/.config/gtk-2.0/gtkrc
!/.config/gtk-3.0/settings.ini

# xmonad
!/.config/xmonad
!/.config/taffybar
!/.config/gnome-session
/.config/gnome-session/*
!/.config/gnome-session/sessions
/.config/gnome-session/sessions/*
!/.config/gnome-session/sessions/gnome-xmonad.session
!/.dmrc

# nyxt
!/.config/nyxt
/.config/nyxt/*
!/.config/nyxt/config.lisp
